#Card {
    padding: 20px 0;

    .Card {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5em;

        .chekout {
            width: 390px;
            height: 844px;
            background: url('./../../img/unsplash_Bq7nHY4trGA.png') no-repeat center/cover;
            min-height: 100%;
            border-radius: 30px;
            box-shadow: 30px 40px 50px 0px rgba(25, 48, 85, 0.30);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 88px 24px 100px 24px;

            .chek {
                color: #FFF;
                font-size: 28px;
                font-weight: 700;
            }

            .price {
                color: #FFF;
                font-size: 20px;
                font-weight: 300;
                margin-top: 10px;
                margin-bottom: 35px;
            }

            .cards {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .saved {
                    color: #FFF;
                    font-size: 14px;
                    font-weight: 400;
                }

                .plusAdd {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    color: #F90;
                    font-size: 14px;
                    font-weight: 400;
                    cursor: pointer;

                    .plus {
                        font-size: 24px;
                    }
                }
            }

            .masterCard {
                width: 342px;
                height: 190px;
                background: url('./../../img/Card surface.png') no-repeat center/cover;
                margin-top: 12px;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: start;
                padding: 25px 55px 25px 25px;

                h3 {
                    margin-top: 7px;
                    color: #FFF;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 24.519px;
                    letter-spacing: 1.6px;

                }

                .masterBlock {
                    margin-top: 12px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .name {
                        p {
                            color: #FFF;
                            font-family: Montserrat;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24.519px;
                            /* 204.324% */
                            text-transform: uppercase;
                        }

                        h2 {
                            color: #FFF;
                            font-family: Montserrat;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 24.519px;
                            /* 153.243% */
                            text-transform: uppercase;
                        }
                    }

                    .valid {
                        p {
                            color: #FFF;
                            font-family: Montserrat;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24.519px;
                            /* 204.324% */
                            text-transform: uppercase;
                        }

                        h2 {
                            color: #FFF;
                            font-family: Montserrat;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 24.519px;
                            /* 153.243% */
                        }
                    }
                }
            }


                .visa {
                    margin-top: 10px;
                    width: 342px;
                    height: 190px;
                    background: url('./../../img/Gousian Layer.png') no-repeat center/cover;
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: start;
                    padding: 24px;

                    

                    h3 {
                        margin-top: 7px;
                        color: #FFF;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 24.519px;
                        letter-spacing: 1.6px;

                    }

                    .masterBlock {
                        margin-top: 12px;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .name {
                            p {
                                color: #FFF;
                                font-family: Montserrat;
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 24.519px;
                                /* 204.324% */
                                text-transform: uppercase;
                            }

                            h2 {
                                color: #FFF;
                                font-family: Montserrat;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 24.519px;
                                /* 153.243% */
                                text-transform: uppercase;
                            }
                        }

                        .valid {
                            p {
                                color: #FFF;
                                font-family: Montserrat;
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 24.519px;
                                /* 204.324% */
                                text-transform: uppercase;
                            }

                            h2 {
                                color: #FFF;
                                font-family: Montserrat;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 24.519px;
                                /* 153.243% */
                            }
                        }
                    }

                
            }

            button {
                margin-top: 60px;
                width: 196px;
                height: 50px;
                border-radius: 40px;
                background: #F90;
                border: none;
                color: #FFF;
                text-align: center;
                font-size: 18px;
                font-weight: 600;
                line-height: 24.519px;
                letter-spacing: 0.54px;
                text-transform: uppercase;
                // margin-top: 15em;
                cursor: pointer;
            }
        }

        .addNew {
            width: 390px;
            height: 844px;
            background: url('./../../img/unsplash_Bq7nHY4trGA (1).png') no-repeat center/cover;
            min-height: 100%;
            border-radius: 30px;
            box-shadow: 30px 40px 50px 0px rgba(25, 48, 85, 0.30);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 88px 24px 100px 24px;

            h1 {
                color: #FFF;
                text-align: center;
                font-size: 28px;
                font-weight: 700;
                margin-bottom: 48px;
            }

            .addBlock {
                width: 342px;
                height: 444px;
                border-radius: 15px;
                background: #FFF;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: start;
                padding: 25px;

                .enter {
                    color: #F90;
                    font-size: 14px;
                    font-weight: 600;
                }

                .name {
                    width: 100%;
                    margin-top: 32px;
                    padding-bottom: 5px;
                    border-bottom: 1px solid #000000B2;

                    p {
                        color: rgba(0, 0, 0, 0.25);
                        font-family: Montserrat;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                    }

                    input {
                        width: 100%;
                        outline: none;
                        border: none;
                        color: #000;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        text-transform: uppercase;
                        cursor: pointer;
                    }

                }

                .cardNumber {
                    width: 100%;
                    margin-top: 24px;
                    border-bottom: 1px solid #000000B2;

                    p {
                        color: rgba(0, 0, 0, 0.25);
                        font-family: Montserrat;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                    }

                    .number {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        input {
                            width: 100%;
                            outline: none;
                            border: none;
                            color: #000;
                            font-family: Montserrat;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 24.501px;
                            /* 175.011% */
                            letter-spacing: 1.4px;
                            text-transform: uppercase;
                            cursor: pointer;
                        }
                    }

                }

                .date {
                    width: 100%;
                    margin-top: 24px;
                    border-bottom: 1px solid #000000B2;


                    p {
                        margin-top: 8px;
                        color: rgba(0, 0, 0, 0.25);
                        font-family: Montserrat;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                    }

                    input {
                        width: 100%;
                        border: none;
                        outline: none;
                        color: #000;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 24.501px;
                        /* 175.011% */
                        letter-spacing: 1.4px;
                        text-transform: uppercase;
                        cursor: pointer;
                    }
                }

                .cvv {
                    width: 100%;
                    margin-top: 28px;
                    border-bottom: 1px solid #000000B2;

                    p {
                        color: rgba(0, 0, 0, 0.25);
                        font-family: Montserrat;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                    }

                    .cvvBlock {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        input {
                            width: 100%;
                            outline: none;
                            border: none;
                            color: #000;
                            font-family: Montserrat;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 24.501px;
                            /* 175.011% */
                            letter-spacing: 1.4px;
                            text-transform: uppercase;
                            cursor: pointer;
                        }

                        .circle {
                            font-size: 17px;
                        }
                    }

                }

                .dark {
                    margin-top: 32px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    p {
                        color: #F90;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                    }


                    .ui-switch {
                        /* switch */
                        --switch-bg: rgb(135, 150, 165);
                        --switch-width: 48px;
                        --switch-height: 20px;
                        /* circle */
                        --circle-diameter: 32px;
                        --circle-bg: rgb(0, 56, 146);
                        --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
                    }

                    .ui-switch input {
                        display: none;
                    }

                    .slider {
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        width: var(--switch-width);
                        height: var(--switch-height);
                        background: var(--switch-bg);
                        border-radius: 999px;
                        position: relative;
                        cursor: pointer;
                    }

                    .slider .circle {
                        top: calc(var(--circle-inset) * -1);
                        left: 0;
                        width: var(--circle-diameter);
                        height: var(--circle-diameter);
                        position: absolute;
                        background: var(--circle-bg);
                        border-radius: inherit;
                        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
                        background-repeat: no-repeat;
                        background-position: center center;
                        -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                        -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                        transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
                        ;
                    }

                    .slider .circle::before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background: rgba(255, 255, 255, 0.75);
                        border-radius: inherit;
                        -webkit-transition: all 500ms;
                        -o-transition: all 500ms;
                        transition: all 500ms;
                        opacity: 0;
                    }

                    /* actions */

                    .ui-switch input:checked+.slider .circle {
                        left: calc(100% - var(--circle-diameter));
                        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
                    }

                    .ui-switch input:active+.slider .circle::before {
                        -webkit-transition: 0s;
                        -o-transition: 0s;
                        transition: 0s;
                        opacity: 1;
                        width: 0;
                        height: 0;
                    }
                }
            }

            button {
                margin-top: 80px;
                border: none;
                width: 196px;
                height: 50px;
                border-radius: 40px;
                background: #F90;
                color: #FFF;
                text-align: center;
                font-family: Montserrat;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 24.519px;
                /* 136.216% */
                letter-spacing: 0.54px;
                text-transform: uppercase;
                cursor: pointer;
            }
        }
    }
}